Package: [[edition]]-data
Version: [[version]]
Section: comm 
Priority: optional
Architecture: all
Essential: no
Installed-Size: 1024
Maintainer: Emerald Icemoon <emerald.icemoon@gmail.com>
Provides: tawd-data
Description: Earth Eternal - [[editionFullName]] Server Data
 Provides static and default variable server data.
Conflicts: the-anubian-war-data
