Package: tawd
Version: [[version]]
Section: comm 
Priority: optional
Architecture: [[arch]]
Essential: no
Depends: libcurl3 | libcurl3-gnutls, redis-server
Recommends: redis-tools
Installed-Size: 1024
Maintainer: Emerald Icemoon <emerald.icemoon@gmail.com>
Provides: tawd
Description: Earth Eternal - The Anubian War
 Provides server.
